/* 글꼴 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

html {
  overflow-x: hidden;
}
body {
  /* fontfamily 설정 필요 */
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
}
